:root {
  --outline-width: 1px;
  --outline-width-bold: 3px;
  --gap: 10px;
  --header-height: 120px;

  --interface-font: "monospace", serif;
  --mark-font: "monospace", serif;

  /* colors */
  --text: black;
  --background: white;
  --outline: black;
  --highlight: #f2e3b6;
  --disabled: #dddddd;
  --error: #f76c5e;
  --disabled-highlight: #e8dac4;
  --error-highlight: rgb(244, 141, 115);
  --disabled-error: #ec8a83;
  --disabled-error-highlight: #f2a47d;
  --win: #a3e2a3;

  font-family: var(--interface-font) !important;
  color: var(--text) !important;
  background: var(--background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ffffff;
    --background: #181818;
    --outline: #363636;
    --highlight: #5985b9;
    --disabled: #252525;
    --error: #d1453b;
    --disabled-highlight: #446895; 
    --error-highlight: #da786d; 
    --disabled-error: #63322e; 
    --disabled-error-highlight: #a9554e;red */
    --win: #2d5f2d; 
  }
}

button,
select,
input {
  color: var(--text);
  font-family: var(--interface-font) !important;
  font-size: inherit;
}

header {
  grid-area: header;
}

#game-selector {
  aspect-ratio: 12;
}

#game-selector > select {
  width: 100%;
  height: 100%;

  border: var(--outline-width-bold) solid var(--outline);
  background: var(--background);
}

body#sudoku {
  display: grid;
  grid-template-areas:
    "header header"
    "board settings"
    "onscreen spacer";
  grid-template-columns: 75fr 25fr;
  margin: auto;

  min-width: 360px;
  max-width: calc(100vh * (12 / 11) - var(--gap) - var(--header-height));

  padding: var(--gap);
  gap: var(--gap);
}

/* Settings */
#settings {
  grid-area: settings;

  display: grid;
  grid-template-rows: repeat(9, 1fr);

  aspect-ratio: 3 / 9;

  /* Border */
  background: var(--outline);
  gap: var(--outline-width);
  padding: var(--outline-width-bold);
}

.settings-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  overflow: hidden;
  background: var(--background);
}

@media (max-width: 768px) {
  body#sudoku {
    grid-template-areas:
      "header"
      "board"
      "onscreen"
      "settings";
    grid-template-columns: 1fr;
  }

  #settings {
    aspect-ratio: 1;
  }
}

/* Onscreen keyboard */
#onscreen-keyboard {
  grid-area: onscreen;

  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));

  aspect-ratio: 9 / 2;

  /* Border */
  background: var(--outline);
  gap: var(--outline-width);
  padding: var(--outline-width-bold);

  color: var(--text);
}

.onscreen-input {
  height: 100%;
  width: 100%;

  background: var(--background);
  border: none;

  &:hover {
    background: var(--highlight);
  }
}

/* Sudoku Board */
#sudoku-board {
  grid-area: board;

  display: grid;
  grid-template-rows: repeat(9, minmax(0, 1fr));
  aspect-ratio: 1;

  /* Border */
  background: var(--outline);
  gap: var(--outline-width);
  padding: var(--outline-width-bold);

  &.error {
    background: var(--error);
  }
}

/* Bold Borders */
.sudoku-row:nth-child(3n):not(:last-child) {
  margin-bottom: calc(var(--outline-width-bold) - var(--outline-width));
}

.sudoku-cell:nth-child(3n):not(:last-child) {
  margin-right: calc(var(--outline-width-bold) - var(--outline-width));
}

.sudoku-row {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: var(--outline-width);
}

.sudoku-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  font-family: monospace, serif;
  font-size: min(3vw, 2vh, 32px);
  text-align: center;
  line-height: 0.75em;

  background: var(--background);

  &:focus-within {
    z-index: 1;
    outline: 3px solid var(--outline);
    animation: blink 1s steps(2, start) infinite;
  }

  &:has([readonly]) {
    background: var(--disabled);
  }

  &.highlight,
  &:hover {
    background: var(--highlight);
  }

  &.error {
    background: var(--error) !important;
  }

  &.highlight:has([readonly]) {
    background: var(--disabled-highlight);
  }

  &.error.highlight {
    background: var(--error-highlight) !important;
  }

  &.error:has([readonly]) {
    background: var(--disabled-error) !important;
  }

  &.highlight.error:has([readonly]) {
    background: var(--disabled-error-highlight) !important;
  }
}

@keyframes blink {
  to {
    outline: 3px solid transparent;
  }
}

.win {
  background: var(--win) !important;
}

.sudoku-cell > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  caret-color: transparent;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.mark {
  width: 30%;
}

/* Order marks numerically */
.mark-1 {
  order: 1;
}

.mark-2 {
  order: 2;
}

.mark-3 {
  order: 3;
}

.mark-4 {
  order: 4;
}

.mark-5 {
  order: 5;
}

.mark-6 {
  order: 6;
}

.mark-7 {
  order: 7;
}

.mark-8 {
  order: 8;
}

.mark-9 {
  order: 9;
}
