:root {
  --text: black;
  --background: white;
  --outline: black;
  --outline-width: 1px;
  --outline-width-bold: 3px;
  --gap: 10px;
  --header-height: 52px;

  /* cell colors */
  --focus: #eeeeee;
  --highlight: #f2e3b6;
  --error: #f76c5e;
  --win: #a3e2a3;
}

body {
  margin: 0;

  color: var(--text) !important;
  background: var(--background);
}

nav {
  position: fixed;
  top: 0;
  left: 0;

  background: var(--background);
}

main#sudoku {
  display: grid;
  grid-template-areas:
    "board settings"
    "onscreen spacer";
  grid-template-columns: 75fr 25fr;

  margin: auto;

  min-width: 450px;
  max-width: calc(100vh * (12 / 11) - var(--gap) - var(--header-height));

  padding: var(--gap);
  gap: var(--gap);
}

@media (max-width: 768px) {
  main#sudoku {
    grid-template-areas:
      "board"
      "onscreen"
      "settings";
    grid-template-columns: 1fr;
  }

  #settings {
    aspect-ratio: 1 !important;
  }
}

/* Settings */
#settings {
  grid-area: settings;

  display: grid;
  grid-template-rows: repeat(9, 1fr);

  aspect-ratio: 3 / 9;

  /* Border */
  background: var(--outline);
  gap: var(--outline-width);
  padding: var(--outline-width-bold);
}

.settings-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;

  overflow: hidden;
  background: var(--background);
}

/* Onscreen keyboard */
#onscreen-keyboard {
  grid-area: onscreen;

  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  overflow: hidden;

  aspect-ratio: 9 / 2;

  /* Border */
  background: var(--outline);
  gap: var(--outline-width);
  padding: var(--outline-width-bold);
}

.onscreen-input {
  height: 100%;
  width: 100%;

  background: var(--background);
  border: none;
}

/* Sudoku Board */
#sudoku-board {
  grid-area: board;

  display: grid;
  grid-template-rows: repeat(9, minmax(0, 1fr));
  aspect-ratio: 1;

  /* Border */
  background: var(--outline);
  gap: var(--outline-width);
  padding: var(--outline-width-bold);
}

/* Bold Borders */
.sudoku-row:nth-child(3n):not(:last-child) {
  margin-bottom: calc(var(--outline-width-bold) - var(--outline-width));
}

.sudoku-cell:nth-child(3n):not(:last-child) {
  margin-right: calc(var(--outline-width-bold) - var(--outline-width));
}

.sudoku-row {
  display: grid;
  grid-template-columns: repeat(9, minmax(0, 1fr));
  gap: var(--outline-width);
}

.sudoku-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;

  font-family: "Crimson Text", serif;
  font-size: min(4vw, 3vh, 32px);
  text-align: center;
  line-height: 0.75em;

  background: var(--background);

  &:has([readonly]) {
    background: #dddddd;
  }

  &:hover {
    background: var(--highlight);
  }

  &:focus-within:not(:has([readonly])) {
    background: var(--focus);
  }

  &:focus-within {
    outline: 3px solid var(--outline);
    z-index: 1;
    animation: blink 1s steps(2, start) infinite;
  }
}
@keyframes blink {
  to {
    outline: 3px solid transparent;
  }
}
.error {
  background: var(--error) !important;
}

.win {
  background: var(--win) !important;
}

.highlight {
  background: #f2e3b6;
}

.highlight:has([readonly]) {
  background: #ccc09b;
}

.sudoku-row > .highlight:focus-within {
  background: #dad1b7;
}

.sudoku-cell > input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  caret-color: transparent;
  background: transparent;
  border: none;
  resize: none;
  padding: 0;
  margin: 0;
}

.mark {
  width: 30%;
}

.mark-1 {
  order: 1;
}

.mark-2 {
  order: 2;
}

.mark-3 {
  order: 3;
}

.mark-4 {
  order: 4;
}

.mark-5 {
  order: 5;
}

.mark-6 {
  order: 6;
}

.mark-7 {
  order: 7;
}

.mark-8 {
  order: 8;
}

.mark-9 {
  order: 9;
}

/* High scores */
main#highscores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#highscores-board {
  border-collapse: collapse;
}

th {
  border-bottom: 1px solid black;
}

td,
th {
  padding: 15px !important;
  text-align: center !important;
}

td {
  color: #333333 !important;
}
